body{
    background-color: ghostwhite;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    
}

p{
    text-align: justify;
    cursor: crosshair;
    font-family: 'Raleway', sans-serif;
}

.image{
    image-orientation: center;
}
.imageright {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

h1{
	Color: black;
	text-align: center;
	text-align: center;
    font-family: 'Exo 2'sans-serif;
	font-size: 52px;
    
}

h2{
    text-align: center;
	color: green;
}

h3{
    color: blue;
    text-align: center;
}
footer{
    text-align-last: center;
    background-color: bisque
}
strong{
        text-decoration: overline;
}
fieldset{
 border-top-width: medium;
    
}

.boton{
 color: blue;
    background-color:whitesmoke;
    border-bottom-style: dotted;
     border-top-style: dotted;
     border-left-style: dotted;
     border-right-style: dotted;
}