
    <h3>Cuestionario</h3>

        - ¿A qué se refiere la descentralización de servicios web?<br>
        <p>
            A tener en diferentes sitios de manera desplegada, diferentes servicios web.
            </p>
    
    
        - ¿Cómo puede implementarse un entorno con servicios web disponibles aún cuando falle un servidor?<br> 
        <p>
            No dependiendo de un servicio web como tal, es decir descentralizando los servicios, y cuando se presente una falla, se obtiene de otro source el servicio.
     </p>